{% extends "api.html" %}
{% load static %}
{% load rest_framework   %}
{% block style %}
<link rel="stylesheet" type="text/css" href="{% static "my_statics/css/style.css" %}"/>
{% endblock %}
{% block title %}
Login - Nominations Api
{% endblock %}
{% block body %}
<body>
  
</body>
<form class='form' action="{% url 'rest_framework:login' %}" role="form" method="post">
  {% csrf_token %}
    <div class='form__labels'>
        <label class='form__label' for="email">Почта</label>
        <label class='form__label' for="password">Пароль</label>
    </div>
    <input class='form__input' id='email' type="text" autocomplete='username' name="username" required>
    {% if form.username.errors %}
      <p>
        {{ form.username.errors|striptags }}
      </p>
    {% endif %}
    <input class='form__input' id='password' type="password" name="password" autocomplete='current-password' required>
    {% if form.password.errors %}
      <p>
        {{ form.password.errors|striptags }}
      </p>
    {% endif %}
    <input class='form__input button' type="submit" id='submit' value='Войти'>
    <!-- <a class='form__input form__input--reg-button button' href="register.html">Зарегистрироваться</a> -->
    {% if form.non_field_errors %}
    {% for error in form.non_field_errors %}
      <div style="border: none">{{ error }}</div>
    {% endfor %}
  {% endif %}

</form>
{% endblock %}