<img class='header__logo' src="img/icon.svg" alt="Your Choice City">
<ul class='header__list'>
    <li class="header__item"><a class="header__link button" href="index.html">Главная</a></li>
    <li class="header__item"><a class="header__link button" href="nominations.html">Номинации</a></li>
    <li class="header__item"><a class="header__link button" href="winners.html">Победители</a></li>
    <li class="header__item"><a class="header__link button" href="login.html">Вход</a></li>
    <li class="header__item"><a class="header__link button" href="register.html">Регистрация</a></li>
</ul>
<form class='header__form' action="">
    <input class='header__search-field' type="text">
    <input class='header__search-button' type="submit" value='Найти'>
</form>