<img class='header__logo' src="img/icon.svg" alt="Your Choice City">
<ul class='header__list'>
    <li class="header__item"><a class="header__link button" href="index.html">Главная</a></li>
    <li class="header__item"><a class="header__link button" href="nominations.html">Номинации</a></li>
    <li class="header__item"><a class="header__link button" href="winners.html">Победители</a></li>
    <li class="header__item">
        <a id='profile_button' class="header__link button" href="profile.html">Профиль</a>
    </li>
    <li class="header__item">
        <button id='logout_button' class="header__link header__link--button button" onclick='logout()' href='#'>Выйти</button>
    </li>
</ul>
<form class='header__form' action="">
    <input class='header__search-field' type="text">
    <input class='header__search-button' type="submit" value='Найти'>
</form>
<input class='header__open-burger-button' type="button" value='menu' onclick='showMenu()'>
<input class='header__close-burger-button' type="button" value='menu' onclick='hideMenu()'>